.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.item {
  font-size: var(--mantine-font-size-sm);
  /* color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1)); */
  border-radius: var(--mantine-radius-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-md);
}

.title {
  text-align: left;

  @media (max-width: $mantine-breakpoint-md) {
    text-align: center;
  }
}
