.description {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: white;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-lg);
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper {
  position: relative;
  margin-top: calc(2 * var(--mantine-spacing-xl));
  padding-top: calc(3 * var(--mantine-spacing-xl));
  padding-bottom: calc(6 * var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-sm) {
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    padding-top: calc(2.5 * var(--mantine-spacing-xl));
    padding-bottom: calc(5.5 * var(--mantine-spacing-xl));
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  @media (max-width: 1100px) {
    opacity: 0.1;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}
