.wrapper {
  min-height: rem(400px);
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.title {
  line-height: 1;
}

.description {
  max-width: rem(300px);
  color: var(--mantine-color-dimmed);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.social {
  color: var(--mantine-color-black);

  @mixin hover {
    color: var(--mantine-color-blue-7);
  }
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}
