.wrapper {
  position: relative;
  padding-top: rem(75px);
  padding-bottom: rem(55px);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
