.bg {
  background-color: var(--mantine-color-gray-0);
}

.wrapper {
  position: relative;
  padding-top: rem(75px);
  padding-bottom: rem(75px);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-dark-5));

  @media (max-width: 1570px) {
    opacity: 0.1;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    opacity: 0;
  }
}

.text {
  color: black;

  @media (max-width: $mantine-breakpoint-md) {
    text-align: center;
  }
}
