.content {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    align-items: center;
  }
}

.title {
  line-height: 1.05;
  max-width: rem(500px);
  font-size: rem(64px);
  padding-bottom: var(--mantine-spacing-sm);

  @media (max-width: $mantine-breakpoint-md) {
    text-align: center;
    max-width: 100%;
    font-size: rem(48px);
    line-height: 1.15;
  }
}

.description {
  max-width: rem(500px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    text-align: center;
  }
}

.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  font-size: rem(22px);

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.image {
  height: calc(100vh - 60px);
  /* height: 100%;
  width: 100%; */

  @media (max-width: $mantine-breakpoint-md) {
    height: 100vw;
    width: 100vw;
  }
}
